<%= render 'users/header' %>

<div class="col-md-3">
	<%= render 'users/sidebar', user: current_user %>
</div>

<div class="col-md-9">
	<h1>ブログ投稿</h1>
	<%= form_for(@blog) do |f| %>
	<%=f.text_area :blog ,:placeholder => "今日はいい天気なので散歩しました" , :size => 500 %>
	<%= f.submit '投稿する' ,class: "btn btn-warning"%>
	<% end %>
</div>
