<%= render 'users/header' %>

<div class="main clearfix">
<div class="col-md-3">
	<%= render 'users/sidebar', user: current_user %>
</div>

<div class="col-md-9">
	<h2>ブログ投稿</h2>
	<p>なるべく多くの投稿をすることにより他の会員へのアピールにつながります！</p>
	<hr>
	<%= form_for(@blog) do |f| %>
	<!--エラーメッセージ-->
      <% if @blog.errors.any? %>
        <div id=error_explanation>
          <% @blog.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
      </div>
    <% end %>

	<%=f.text_area :blog ,:placeholder => "今日はいい天気なので散歩しました" , size: "100x10" %>
	<%= f.submit '投稿する' ,class: "btn btn-info"%>
	<% end %>
</div>
</div>
<%= render 'users/footer' %>