<%= render 'users/header' %>

<div class="col-md-3">
	<%= render 'users/sidebar', user: current_user %>
</div>

<div class="col-md-9">
	<h1>ブログ投稿</h1>
	<%= form_for(@blog) do |f| %>
	<%=f.text_area :blog %>
	<%= f.submit '投稿する' %>
	<% end %>
</div>
