<%= render 'users/header' %>

<div class="login-body">
  <br>
  <h2>新規登録</h2>

  <%= flash[:danger] %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div>
    <%= f.label :ニックネーム %><p>(後から変更可能です)</p>
    <%= f.text_field :nickname, autofocus: true %>
  </div>
<br />
  <div>
    <%= f.label :メールアドレス%><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div>
    <%= f.label :年齢 %><p>(本アプリは２０〜５０歳までが対象です)</p>
    <%= f.select :age, User.ages.keys,{ include_blank: '選択してください' } %>
  </div>
<br />
  <div>
    <%= f.label :都道府県 %><p>(後から変更可能です)</p>
    <%= f.select :prefecture, User.prefectures.keys,{ include_blank: '選択してください'} %>
  </div>
<br />
    <%= f.label :性別 %>
    <div>
    <label><%= f.radio_button :sex, :"true" %>男性</label>
    <label><%= f.radio_button :sex, :"false" %>女性</label>
  </div>
<br />
  <div>
    <%= f.label :自己紹介文 %><p>(後から変更可能です)</p>
    <%= f.text_area :introduction, size: "50x3",autofocus: true %>
  </div>
<br />
  <div>
    <%= f.label :プロフィール画像 %><br /><p>(後で設定可能です)</p>
    <%= f.attachment_field :image, style: "display: inline;" %>
  </div>
  <br />
  <div>
    <%= f.label :パスワード %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div>
    <%= f.label :確認用パスワード %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <br>
  <div>
    <%= f.submit "新規登録" ,class: "btn btn-info"%>
  </div>
  <% end %>

  <br>
  <div>
  <%= link_to "topに戻る", root_path ,class: 'btn btn-primary' , data: {"turbolinks" => false}%>
</div>
<br>
</div>

<%= render 'users/footer' %>