<header>
	<div class="logo">
	  <%= link_to root_path do %>
      <h1>My-matching</h1>
      <% end %>
  </div>
	<!--ログインしたとき-->
	<% if user_signed_in? %>
	<ul class="nav navbar-nav navbar-right" >
		<li class="aikonn">
			<%= link_to 'about', homes_about_path %>
		</li>
		<li class="aikonn">
			<%= link_to 'マイページ', user_path(current_user) %>
		</li>
		<li class="aikonn">
			<%= link_to 'ブログ投稿', new_blog_path %>
		</li>
		<li class="aikonn">
			<%= link_to '会員一覧', users_path %>
		</li>
		<li class="aikonn">
			<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
		</li>
	</ul>

	<% else %>

	<!--ログインしていないとき-->
	<ul class="nav navbar-nav navbar-right" >
		<li class="aikonn">
			<%= link_to 'about', homes_about_path %>
		</li>
		<li class="aikonn">
			<%= link_to 'ログイン',  new_user_session_path %>
		</li>
		<li class="aikonn">
			<%= link_to '新規登録', new_user_registration_path %>
		</li>
	</ul>
	<% end %>
</header>