<h2>プロフィール</h2>
<table class='table'>
  <tr><%= attachment_image_tag(user, :image, fallback: "no_image.jpg",size:'300x300' ) %></tr>
  <tr>
    <th>ニックネーム</th>
    <th><%= user.nickname %></th>
  </tr>
   <tr>
    <th>年齢</th>
    <th><%= user.age %>歳</th>
  </tr>
   <tr>
    <th>都道府県</th>
    <th><%= user.prefecture %></th>
  </tr>

  <tr>
    <th>フォロー数</th>
    <th><%= link_to user.follower.count, user_follows_path(user) %></th>
  </tr>
  <tr>
    <th>フォロワー数</th>
    <th><%= link_to user.followed.count, user_followers_path(user) %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>
</table>
