<div class="sidebar">
  <h2>　　プロフィール</h2>
    <hr>
    <table class="table">
      <tr>
        <div class="sidebar-aikonn">
          <%= attachment_image_tag(user, :image, fallback: "no_image.jpg",size:'300x300' ) %>
        </div>
      </tr>
      <br>
      <tr>
        <td>ニックネーム</td>
        <td><%= user.nickname %></td>
      </tr>
       <tr>
        <td>年齢</td>
        <td><%= user.age %>歳</td>
      </tr>
       <tr>
        <td>都道府県</td>
        <td><%= user.prefecture %></td>
      </tr>
        <td>自己紹介文</td>
        <td><%= user.introduction %></td>
      </tr>
      <tr>
        <td>
            <%= link_to "マッチング成立", user_matches_path(user), class: 'btn btn-success'%>
        </td>
      </tr>
      <tr>
        <td>
            <%= link_to "フォロー" , user_follows_path(user), class: 'btn btn-info' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to "フォロワー", user_followers_path(user), class: 'btn btn-primary'%>
            </td>
      </tr>
    </table>
</div>