<%= render 'users/header' %>

<div class="col-md-3">
	<%= render 'users/sidebar' %>
</div>

<h1>会員詳細</h1>
<%= attachment_image_tag @user, :image,format:'jpeg', fallback: "no_image.jpg", size:'300x300'  %>
<%= @user.nickname %>
<%= @user.age %>
<%= @user.prefecture %>
<%= @user.introduction %>
