<h1>会員詳細</h1>
<%= attachment_image_tag @user, :image,format:'jpeg', fallback: "no_image.jpg", size:'300x300'  %>
<%= @user.nickname %>
<%= @user.email %>
<%= @user.age %>
<%= @user.prefecture %>
<%= @user.sex %>
<%= @user.introduction %>
<% @blogs.each do |blog| %>
	<div>
		<%= blog.created_at.strftime('%Y/%m/%d　%H:%M:%S') %>
		<%= blog.blog %>
	</div>
<% end %>

<% @messages.each do |message| %>
	<div>
		<%= message.created_at.strftime('%Y/%m/%d　%H:%M:%S') %>
		<%= message.content %>
	</div>
<% end %>

<%= link_to "強制退会させる", admins_user_path(@user.id), method: :delete ,"data-confirm"=>"本当に削除しますか？" , class: 'btn btn-success'%>
<%= link_to '会員一覧へ', admins_users_path, class: 'btn btn-info' %>