<%= render 'users/header' %>

<div class="login-body">
	<div id="container">
		<div id="theTarget">
			<div class="image1"></div>
			<div class="image2"></div>
			<div class="image3"></div>
			<div class="image4"></div>
			<div class="image5"></div>
		</div>
	</div>

	<h1>my-matchingへようこそ！</h1>
	<h1>素敵なパートナーを見つけましょう</h1>

	<div>
		<%= link_to 'ログイン',  new_user_session_path, class: 'btn btn-info' %>
	</div>
	<br>
	<div>
		<%= link_to '新規登録', new_user_registration_path, class: 'btn btn-success' %>
	</div>
	<br>
</div>
<div class="login-sample">
	<h4>ログインサンプル</h4>
	<p>男性会員：ふーたろう　　　パスワード：111111<br>
	女性会員：みーちゃん　　　パスワード：222222</p>
	<h4>これらのアカウントでログインしてみてください!</h4>
	<%= link_to '管理者画面へ', new_admins_admin_session_path ,class: "btn btn-primary"%>
</div>
<br>
<%= render 'users/footer' %>