<%= render 'users/header' %>

<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :ニックネーム %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

<<<<<<< HEAD
<br>
=======
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
>>>>>>> a6f97cf559db74f324d0664171ea5a5194d8c456

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
