<%= render 'users/header' %>

<div class="col-md-3">
  <%= render 'users/sidebar', user: current_user %>
</div>

<div class="col-md-9">

  <h1>やりとり</h1>

  <hr>
  <% if @messages.present? %>
  <% @messages.each do |message| %>
  <strong><a href="/users/<%= message.user_id %>"><%= attachment_image_tag message.user, :image,format:'jpeg', fallback: "no_image.jpg", size:'30x30'  %><%= message.user.nickname %></a></strong>
  <strong><%= message.content %></strong>
  <hr>
  <% end %>
  <% else %>
  <h3 class="text-center">メッセージはまだありません</h3>
  <% end %>

  <%= form_for @message do |f| %>
  <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <br>
  <%= f.submit "投稿する",class: "btn btn-primary" %>
  <% end %>

</div>