<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>MyMatching</title>
=======
    <title>MyMacthing</title>
>>>>>>> a6f97cf559db74f324d0664171ea5a5194d8c456
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
